body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#title {
    text-align: center;
    margin-top: 20px;
    font-size: 32px;
    color: #333;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}


#search-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.search {
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 8px 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease;
}

.search:focus {
    border-color: dodgerblue;
    outline: none;
}

#map {
    width: 100%;
    height: 400px; /* 웹에서의 기본 높이 */
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 5px;
}

@media only screen and (max-width: 600px) {
    /* 모바일 화면일 때 */
    #map {
        height: 300px; /* 모바일에서의 높이 */
    }
}

#submit:hover {
    background-color: #4CAF50; /* hover 시 배경색 변경 */
    color: white; /* hover 시 글자색 변경 */
    cursor: pointer; /* hover 시 커서 모양 변경 */
}