<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>우리동네 헌옷수거함</title>
    <link rel="stylesheet" href="css/style.css" />
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://oapi.map.naver.com/openapi/v3/maps.js?ncpClientId=9bndfahxzo&amp;&submodules=geoencoder"></script>
    <script type="text/javascript" src="https://oapi.map.naver.com/openapi/v3/maps-geocoder.js"></script>
</head>
<body>
    
    <h1 id="title">우리동네 헌옷수거함 찾기</h1>

    <div id="search-container">
        <select name="sido" id="sido" class="search">
            <option value="서울시">서울시</option>
            <option value="경기도">경기도</option>
        </select>
        <select name="gudong" id="gudong" class="search">
            <option value="성동구">성동구</option>
        </select>
        <input type="button" value="submit" id="submit" class="search"/>
    </div>
    
    <div id="map" style="width:85%; height:800px">
    
    </div>
    <script src="js/naver-map.js"></script>
    <script src="js/marker.js"></script>
    <script src="js/search.js"></script>

</body>
</html>